/* main after 201006 add */
/* For You */
.main-wrap .main-personalize-banner {opacity: 0;width:100%;position: fixed;left:0;bottom:0;z-index:-1;border-bottom: 0;transition:all .23s ease-out;border-top: 1px solid #000;}
.main-wrap .main-personalize-banner:before {display: block;width:100%;height:100%;background:rgba(0,0,0,0.7);position: fixed;left:0;top:0;content:"";z-index:-1;transition:all .23s ease-out;}
.main-wrap .main-personalize-banner.show {opacity: 1;z-index:202;}
.main-wrap .main-personalize-banner.show:before {opacity: 1;}
.main-wrap .main-personalize-banner .btn-main-more {bottom:60px;}
.main-wrap .main-personalize-banner .bottom-btn {display: flex;justify-content: space-between;padding:0 30px;height:40px;background:#fff;border-top: 1px solid #000;}
.main-wrap .main-personalize-banner .bottom-btn .bbtn {display:block;line-height:40px;font-size:1.2rem;}
.main-wrap .main-personalize-banner .bottom-btn .bbtn:first-child {color: #666;}
.header-wrap .mheader-box {height:41px !important;}
.wrap .wrap-inner .mheader-wrap ~ .contents-wrap {padding-top:calc(constant(safe-area-inset-top) + 40px) !important;padding-top:calc(env(safe-area-inset-top) + 40px) !important;}
.header-wrap .mheader-box .mheader-bottom .mbtn {font-size: 1.8rem;font-weight: 300;border-right:1px solid #000;}
.header-wrap .mheader-box .mheader-bottom .mbtn.cart {border-right:0;}

.special-banner-wrap {opacity: 0;width:100%;height:40px;line-height:40px;text-align:center;font-size: 1rem;font-weight: 300;color:#fff;position: fixed;left:0;bottom:0;z-index:-1;border-bottom: 0;background:#000;transition:all .23s ease-out;}
.special-banner-wrap.up {transform:translate(0, -59px);}
.special-banner-wrap.show {opacity: 1;z-index:201;}
.special-banner-wrap .close {display:block;width:22px;height:22px;font-size:0;position: absolute;right:10px;top:9px;}
.special-banner-wrap .close span:before,
.special-banner-wrap .close span:after {display: block;width:14px;border-top:1px solid #fff;content:"";position: absolute;left:50%;top:50%;margin-left:-7px;}
.special-banner-wrap .close span:before {transform: rotate(45deg);}
.special-banner-wrap .close span:after {transform: rotate(-45deg);}

.main-personalize-wrap {padding:20px 0 15px;overflow:hidden;border-bottom:1px solid #000;}
.main-personalize {display:flex;overflow:hidden;overflow-x: auto;-webkit-overflow-scrolling:touch;}
.main-personalize:after {display:block;border-right:1px solid #fff;content:"";}
.main-personalize-wrap .select-item {margin:0 5px;text-align: center;min-width:70px;overflow:hidden;position: relative;}
.main-personalize-wrap .select-item .brand-img {display:block;margin:0 auto;width:60px;height:60px;border-radius: 50%;background:#aaaaaa no-repeat center;background-size:cover;position: relative;}
.main-personalize-wrap .select-item img {width:100%;display: none;}
.main-personalize-wrap .select-item .brand-name {display:block;margin-top:5px;font-size: 1.2rem;font-weight: 300;text-transform:uppercase;}
.main-personalize-wrap .select-item .btn-add {display:block;margin:0 auto;width:60px;height:60px;border-radius: 50%;background:#f2f2f2;overflow:hidden;position: relative;}
.main-personalize-wrap .select-item .btn-add:before,
.main-personalize-wrap .select-item .btn-add:after {display: block;content: "";width:17px;border-top:1px solid #000;position: absolute;left:50%;top:50%;}
.main-personalize-wrap .select-item .btn-add:before {margin-left:-8px;}
.main-personalize-wrap .select-item .btn-add:after {width:0;border:0;height:17px;border-left:1px solid #000;margin-top:-8px;}

.main-personalize-wrap .select-item input[type=radio] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0}
.main-personalize-wrap .select-item label {display: block;position: relative;}
.main-personalize-wrap .select-item .brand-img:before,
.main-personalize-wrap .select-item .brand-img:after {display: inline-block;-webkit-transition:opacity .23s ease-out;transition: opacity .23s ease-out;position: absolute;content: "";}
.main-personalize-wrap .select-item .brand-img:before {width:100%;height:100%;background:rgba(0,0,0,0.85);border-radius: 50%;opacity: 0;left: 0;top: 0;}
.main-personalize-wrap .select-item.new .brand-img:after {width:15px;height:15px;background:#ff0000;border-radius:50%;right:0;bottom:0;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.main-personalize-wrap .select-item input[type=radio]:checked+label .brand-img:before {opacity: 1;}
.main-personalize-wrap .select-item input[type=radio]:checked+label .brand-img:after {opacity: 1;}
.main-personalize-wrap .select-item input[type=radio]:checked+label .brand-name {font-weight: 500;letter-spacing: -0.02rem;}
.main-personalize-wrap .select-item input[type=radio]+label .brand-name:before,
.main-personalize-wrap .select-item input[type=radio]+label .brand-name:after {display:block;margin-left:-8px;width:16px;border-top:1px solid #fff;content:"";position: absolute;left:50%;top:25px;opacity: 0;-webkit-transition:opacity .23s ease-out;transition: opacity .23s ease-out;}
.main-personalize-wrap .select-item input[type=radio]+label .brand-name:after {top:34px;}
.main-personalize-wrap .select-item input[type=radio]:checked+label .brand-name:before,
.main-personalize-wrap .select-item input[type=radio]:checked+label .brand-name:after {opacity: 1;}

.brand-select-wrap.step01 {height: calc(100% - 10px);}
.brand-select-wrap .brand-select-title-wrap .brand-select-title {display:none;}
.brand-select-wrap.step01 .brand-select-title-wrap .brand-select-title:nth-child(1) {display: block;}
.brand-select-wrap.step01 .brand-select-title-wrap .brand-select-desc {display:none;}
.brand-select-wrap.step02 .brand-select-title-wrap .brand-select-title:nth-child(2) {display: block;}
.brand-select-wrap.step03 .brand-select-title-wrap .brand-select-title:nth-child(3) {display: block;}
.brand-select-wrap .last-list {display: none;}
.brand-select-wrap.step03 .gender-select-list {display: none;}
.brand-select-wrap.step03 .brand-select-list {display: none;}
.brand-select-wrap.step03 .last-list {display: flex;}
.brand-select-wrap .brand-select-title-wrap {margin:30px 15px;min-height: 50px;}
.brand-select-wrap .brand-select-list {position: relative;}
.brand-select-wrap.step01 .brand-select-list:after {display:block;background:rgba(255, 255, 255, 0.5);content: "";position: absolute;top:0;bottom:0;left:0;right:0;}
.brand-select-wrap.step01 .brand-select-list.show:after {display:none;}
.brand-select-wrap .gender-select-list .brand-select-item, 
.brand-select-wrap .gender-select-list .gender-select-item {flex:none;width:33.333%;}
.brand-select-wrap .brand-select-item label .brand-name, 
.brand-select-wrap .gender-select-item label .brand-name, 
.brand-select-wrap .brand-select-list .brand-select-item label .brand-name {margin-top:10px;font-size:1.2rem;line-height: 14px;height: 28px;max-height: 28px;}
.brand-select-wrap .gender-select-list .gender-select-item label .brand-name {margin-top:10px;font-size:1.4rem;white-space: nowrap;}
.brand-select-wrap .gender-select-list:after {background:#ccc}
.brand-select-wrap .gender-select-item input[type=radio]+label .brand-name:before,
.brand-select-wrap .brand-select-item input[type=checkbox]+label .brand-name:before,
.brand-select-wrap .gender-select-item input[type=radio]+label .brand-name:after,
.brand-select-wrap .brand-select-item input[type=checkbox]+label .brand-name:after {display:block;margin-left:-13px;width:27px;border-top:1px solid #fff;content:"";position: absolute;left:50%;top:50%;margin-top:-26px;opacity: 0;-webkit-transition:opacity .23s ease-out;transition: opacity .23s ease-out;}
.brand-select-wrap .gender-select-item input[type=radio]+label .brand-name:after,
.brand-select-wrap .brand-select-item input[type=checkbox]+label .brand-name:after {margin-top:-11px;}
.brand-select-wrap .gender-select-item input[type=radio]:checked+label .brand-name:before,
.brand-select-wrap .brand-select-item input[type=checkbox]:checked+label .brand-name:before,
.brand-select-wrap .gender-select-item input[type=radio]:checked+label .brand-name:after,
.brand-select-wrap .brand-select-item input[type=checkbox]:checked+label .brand-name:after {opacity: 1;}
.brand-select-wrap .gender-select-list .gender-select-item input[type=radio]:checked+label .gender-img:after,
.brand-select-wrap .brand-select-item input[type=checkbox]:checked+label .brand-img:after {display:none;}
.brand-select-wrap .brand-select-item .brand-img {display:block;margin:0 auto;width:100%;padding-top:100%;border-radius: 50%;background:#f2f2f2 no-repeat center;background-size:cover;position: relative;}
.brand-select-wrap + .btn-even-wrap {margin:15px !important;padding:0 !important;background:#000;position: relative;}
.brand-select-wrap + .btn-even-wrap .pbtn {padding:0 15px;height:40px;line-height:40px;font-size: 1.1rem;color:#fff;}
.brand-select-wrap + .btn-even-wrap .prev {opacity: 0;position: relative;z-index: -1;}


.brand-select-wrap + .btn-even-wrap .next {display:flex;padding:0 15px;justify-content: space-between;width: 100%;height: 100%;background:#ccc;color: #000;position: absolute;z-index:1;}
.brand-select-wrap + .btn-even-wrap .next.off {z-index:-1;}
.brand-select-wrap + .btn-even-wrap .finish {display: none;}
.brand-select-wrap.step01 + .btn-even-wrap {display:none;}
.brand-select-wrap.step03 + .btn-even-wrap .prev {opacity: 1;z-index: 0;}
.brand-select-wrap.step03 + .btn-even-wrap .next2 {display: none;}
.brand-select-wrap.step03 + .btn-even-wrap .finish {display: block;}

.main-wrap .main-prod-list-wrap {overflow: hidden;}
.main-wrap .main-prod-list-wrap .prod-grid-list {margin:0 -1px;}
.main-wrap .main-prod-list-wrap .prod-grid-list .prod-item.col-2 .banner-text-wrap {border-top: 1px solid #F2F2F2;}



@media (orientation: landscape) {
/* Landscape 모드일 때 적용할 CSS */
    .brand-select-wrap .gender-select-list .brand-select-item, 
    .brand-select-wrap .gender-select-list .gender-select-item {width:115px;}
}

/* Today */
.main-wrap .title-today {padding:0 15px;font-size:1.2rem;line-height:50px;font-weight:bold;text-transform: uppercase;position: relative;}
.main-wrap .title-today .arrow {display: block;width:30px;height:30px;background: url(/resources/main/images/arrow.png) no-repeat 0 0;background-size: auto 100%;position: absolute;right: 15px;top: 10px;}
.main-wrap .title-today .arrow.up {background-position-x: -60px;}
.main-wrap .title-today .arrow.right {background-position-x: -120px;}
.main-wrap .m-theme-wrap.on .title-today .arrow.down {background-position-x: -60px;}
.main-wrap .desc-theme-box {padding:20px 15px 10px;font-size:3.6rem;min-height:1.25em;line-height:1.25em;position: relative;box-sizing: content-box;}
.main-wrap .desc-theme {display:flex;line-height:1.25em;letter-spacing: -0.9px;width:100%;word-break:keep-all;}
.main-wrap .desc-theme span + span {display:none;}
.main-wrap .desc-theme span:first {display: inline-block;}
.main-wrap .swiper-slide-active .m-theme-wrap.on .desc-theme span {
    animation-delay: 1.2s !important;
    display:inline-block;
    animation-name: marquee !important;
    animation-timing-function: linear !important;;
    animation-duration: 40s;  
    animation-iteration-count: infinite !important;
    padding-right: 50px;
}
.main-wrap .swiper-slide-active .m-theme-wrap.on .desc-theme {white-space: nowrap;position: absolute;left:15px;}
.main-wrap .theme-banner-wrap {border-top:1px solid #000;}
.main-wrap .theme-banner-wrap .ratio-img-wrap .img-viewer {padding-top:137.78%;}
.main-wrap .theme-banner-wrap .banner-info-wrap {display:block;padding:0 15px;height:40px;font-size:1.2rem;line-height:40px;text-align: center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;border-top:1px solid #f2f2f2;}
.main-wrap .theme-banner-wrap .swiper-page-number {padding:0 10px;height:25px;line-height:25px;top:inherit;right:inherit;left:15px;bottom:55px;}
.main-wrap .theme-banner-wrap .swiper-page-number>span {font-size:1.2rem;line-height: 25px;position: relative;z-index: 1;}
.main-wrap .theme-banner-wrap .swiper-page-number:before {display: block;width:100%;height:100%;position: absolute;left: 0;top: 0;background:rgba(0, 0, 0, 0.5);border-radius: 13px;content: "";}
.main-wrap .main-today-box {margin-top:0 !important;border-bottom:0 !important;}
.main-wrap .main-today-box .ratio-img-wrap .img-viewer {padding-top:66.6666%;}
.main-wrap .main-today-box .profile-flex-wrap {padding: 10px 15px !important;}
.main-wrap .main-today-box .profile-name .profile-detail .fullname {text-transform: uppercase;}
.main-wrap .main-today-box .main-today-bottom-box .today-info-wrap {padding-bottom:50px;}
.main-wrap .main-today-box .main-today-bottom-box .today-info-wrap .today-info-title {font-weight: 500;}
.main-wrap .swiper-tp01 {border-top:1px solid #000;}
.main-wrap .swiper-tp01.swiper-container-horizontal .swiper-slide {width:60%;}
.main-wrap .swiper-tp01 .swiper-slide:before {display: block;width:1px;height:100%;border-left:1px solid #000;position: absolute;left:-1px;top:0;content: "";z-index: 1;}
.main-wrap .swiper-tp01 .swiper-slide:first-child:before {display: none;}
.main-wrap .swiper-tp01 .profile-flex-wrap {padding:10px 15px;}
.main-wrap .swiper-tp01 .profile-name .profile-detail .fullname {text-transform: uppercase;}
.main-wrap .swiper-tp01 .profile-name .profile-detail .profile-text {font-weight: 300;}
.main-wrap .swiper-tp01 .profile-name .profile-detail .profile-text.cor-bk {color: #000;}
.main-wrap .swiper-tp01 .banner-info-wrap {display:block;padding:15px;position: relative;border-bottom: 1px solid #f2f2f2;}
.main-wrap .swiper-tp01 .banner-info-wrap span {display: block;font-size:1.2rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.main-wrap .swiper-tp01 .banner-info-wrap .name {margin-bottom:8px;font-weight: bold;text-transform: uppercase;}
.main-wrap .swiper-tp01 .banner-info-wrap .prd {margin:0 0 14px;font-weight: 300;}
.main-wrap .swiper-tp01 .banner-info-wrap .price {font-weight: 500;}
.main-wrap .swiper-tp01 .banner-info-wrap .sale {color:#ff0000;position: absolute;right:15px;bottom:15px;}

.main-wrap .lbook-banner-wrap .ratio-img-wrap .img-viewer {padding-top:166.67%;}
.main-wrap .inssa-banner-wrap .ratio-img-wrap .img-viewer {padding-top:100%;}
.main-wrap .prd-banner-wrap .ratio-img-wrap .img-viewer {padding-top:134.723%;}

.main-wrap .brand-list-wrap {border-top: 1px solid #000;}
.main-wrap .brand-list {padding: 20px 0 50px;border-top: 1px solid #f2f2f2;}
.main-wrap .brand-list li {font-size: 2.8rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-transform: uppercase;}
.main-wrap .brand-list li a {display: block;padding:0 15px;transform: translate3d(0, 100%, 0);transform-style:preserve-3d;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.main-wrap .brand-list.on li a {transform: translate3d(0, 0, 0);}
.main-wrap .brand-list li:nth-child(1) a {transition: transform .07s ease}
.main-wrap .brand-list li:nth-child(2) a {transition: transform .14s ease}
.main-wrap .brand-list li:nth-child(3) a {transition: transform .21s ease}
.main-wrap .brand-list li:nth-child(4) a {transition: transform .28s ease}
.main-wrap .brand-list li:nth-child(5) a {transition: transform .35s ease}
.main-wrap .brand-list li:nth-child(6) a {transition: transform .42s ease}
.main-wrap .brand-list li:nth-child(7) a {transition: transform .49s ease}
.main-wrap .brand-list li:nth-child(8) a {transition: transform .56s ease}
.main-wrap .brand-list li:nth-child(9) a {transition: transform .63s ease}
.main-wrap .brand-list li:nth-child(10) a {transition: transform .7s ease}
.main-wrap .brand-list li:nth-child(11) a {transition: transform .77s ease}
.main-wrap .brand-list li:nth-child(12) a {transition: transform .84s ease}
.main-wrap .brand-list li:nth-child(13) a {transition: transform .91s ease}
.main-wrap .brand-list li:nth-child(14) a {transition: transform .98s ease}
.main-wrap .brand-list li:nth-child(15) a {transition: transform 1.05s ease}
.main-wrap .brand-list li:nth-child(16) a {transition: transform 1.12s ease}
.main-wrap .brand-list li:nth-child(17) a {transition: transform 1.19s ease}
.main-wrap .brand-list li:nth-child(18) a {transition: transform 1.26s ease}
.main-wrap .brand-list li:nth-child(19) a {transition: transform 1.33s ease}
.main-wrap .brand-list li:nth-child(20) a {transition: transform 1.4s ease}
.main-wrap .brand-list li:nth-child(21) a {transition: transform 1.47s ease}
.main-wrap .brand-list li:nth-child(22) a {transition: transform 1.54s ease}
.main-wrap .brand-list li:nth-child(23) a {transition: transform 1.61s ease}
.main-wrap .brand-list li:nth-child(24) a {transition: transform 1.68s ease}
.main-wrap .brand-list li:nth-child(25) a {transition: transform 1.75s ease}
.main-wrap .brand-list li:nth-child(26) a {transition: transform 1.85s ease}
.main-wrap .brand-list li:nth-child(27) a {transition: transform 1.89s ease}
.main-wrap .brand-list li:nth-child(28) a {transition: transform 1.96s ease}
.main-wrap .brand-list li:nth-child(29) a {transition: transform 2.03s ease}
.main-wrap .brand-list li:nth-child(30) a {transition: transform 2.1s ease}
.main-wrap .brand-list li a:hover {text-decoration: underline;}
.main-wrap .brand-list li .img {display:inline-block;margin-right:5px;width:36px;height: 36px;border-radius: 50%;background: no-repeat 50%;background-size: cover;vertical-align: middle;}
.main-wrap .brand-list li + li {margin-top: 10px;}


@keyframes marquee {
    to {
        transform: translateX(-100%) translateZ(0)
    }
}

/* layer */
.layer-pop {display: none;}
.layer-pop.full {width:100%;position: fixed;left: 0;top: 10px;bottom:0;z-index: 1000;background:#fff;}
.layer-pop.open {display:block}
.layer-title {height: 45px;line-height:45px;padding: 0 40px;font-size:1.5rem;text-align:center;border-top: 1px solid #000;border-bottom: 1px solid #f2f2f2}
.layer-cont {overflow-y:auto;-webkit-overflow-scrolling:touch;height: calc(100% - 45px) !important;}
.brand-select-wrap {height: calc(100% - 70px);}
.layer-close {z-index: 1;width: 30px;height: 30px;font-size:0;text-indent:-1000px;overflow:hidden;display: block;background-image: url(/resources/images/ui/button/ui_btn_full_popup_close.png);background-repeat: no-repeat;background-position: 0 0;background-size: 30px 30px;position:absolute;left: 10px;top: 8px;}